{% extends 'home/base_home.html' %}

{% load static %}

    {% block title %}
        Aaron's portfolio
    {% endblock title %}


{% block content %}
{% include 'includes/header.html' %}
    <!-- For Demo Purpose -->
    <div class="text-center">
        <div class="col-md-20 mb-10">
    
            <img class="rounded-circle z-depth-2" alt="500x500" src="../../static/img/Universum Fiesta CyT.jpg"
              data-holder-rendered="true">
    
        </div>
    </div>
    <div class="container py-5 ">
        <h2 class="h3 font-weight-bold text-center">CDMX, Mexico.</h2>
        <div class="row">
            <div class="col-lg-10 mb-4">
                <p class="font-italic text-muted">I born in Mexico City, Currently I'm 25 years old and I like spending my time learning to develop technoligical projects by myself and in a team.</p>
                <p class="font-italic text-muted">When I was about fifteen I was so interested in electronical devices so by then I decieded to study something related to this field. As I was learning I noticed that there was a big tech world and the stuffs became more and more interesting. </p>
            </div>
            <div class="col-lg-8 mb-3">
                <p class="font-italic text-muted text-justify">It was until finishing the degree that I started to investigate more about <strong class="font-weight-bold text-dark">Artificial Intelligence </strong> and <strong class="font-weight-bold text-dark">Software Development </strong> mainly. velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
{% include 'includes/footer.html' %}

{% endblock content %}
    

    
    
