# Confidential files

secret.json
media
practice.py


# Microservice
applications/flask

# Portfolio/docker-compose.yml
# Portfolio/Dockerfile

# Archivos inecesarios de compartir

migrations
__pycache__

# Created by https://www.toptal.com/developers/gitignore/api/django
# Edit at https://www.toptal.com/developers/gitignore?templates=django

### Django ###
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3

# Docker 
docker-compose-dev.yml

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints


# Environments
.env*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

