{% extends 'projects/base_projects.html' %}

{% load static %}


{% block title %}
    Projects list
{% endblock title %}
    

{% block content %}

{% include 'includes/header.html' %}
<!-- Buscador  -->
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <form class="d-flex" method="GET">{% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search by Name" aria-label="Search" id="kword" name="kword">
            <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <!-- Language by list -->
            <div class="dropdown d-flex justify-content-end">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="True">
                Languages
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">

                    {% for language in languages %}
                        
                        <li><a href="?language={{ language.name }}" class="dropdown-item" name="language" id="language">{{language.name}}</a></li>
     
                    {% endfor %}

                        <li><hr class="dropdown-divider"></li>
                        <li><a href="{% url 'projects_app:projects-list' %}" class="dropdown-item">All</a></li>   
                </ul>
            </div>

            <!-- Categories by list -->
            <div class="dropdown d-flex justify-content-end">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="True">
                Category
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">

                    {% for value,key in categories %}

                        <li><a href="?category={{ key }}" class="dropdown-item" name="category" id="category">{{value}}</a></li>

                    {% endfor %}

                        <li><hr class="dropdown-divider"></li>
                        <li><a href="{% url 'projects_app:projects-list' %}" class="dropdown-item">All</a></li>   
                </ul>
            </div>
        </div>    
    </nav>
</div>

<!-- Projects realized list -->
<div>
    <h1 style="text-align: center; font-family: Garamond; font-family: Aesthetic Violet;" class="container pt-4 color2">Projects</h1>

    {% for project in projects %}

    <div class="p-3 container d-flex">
            <article class=" card d-flex justify-content-center shadow" style="width: 45em; margin: auto;">
                <div class="card-body row">
                    <h5 class="card-title col-4 rounded color1back color1" style="font-family: Aesthetic Violet;">{{project.title.title}}</h5>
                    <img src="{{project.photo_1.url}}" class="card-img-bottom col-8 image-fluid" style="border-radius: 5em;" width="1080" height="320">
                </div>
                <div class="row">
                    <p class="card-text col-9 m-2" style="text-align: justify;">{{project.resume| truncatechars:150}}</p>
                    <p class="card-text col-2 color5back m-3" style="border-radius: 20px;">Tag: <i>{{project.get_category_display}}</i></p>
                </div>
                    
                    <a href="{% url 'projects_app:project-detail' project.id %}" class="btn colorbotton d-flex justify-content-center col-3 m-auto">Read More</a>
               
            </article>
    </div>
        
    {% empty %}
    <h3 style="color: brown; text-align: center; padding: 20px; font-family: Aesthetic Violet;">There aren't results</h3>
    {% endfor %}
    <div class="container alert color3back col-3" role="alert">
        A simple primary alert—check it out!
    </div>
    
    <!-- Pagination -->
    <nav aria-label="..."  class="container d-flex justify-content-center">
        <ul class="pagination pagination-sm">
        
        <!-- Previous page -->
        
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
               <span aria-hidden="true"><ion-icon name="arrow-undo-circle-outline"></ion-icon></span>
            </a>
        </li>    
        {% endif %}
            
        
        <!-- Number of pages -->

        {% for pagina in paginator.page_range %}
        
        {% ifequal pagina page_obj.number  %} 
            <li class="page-item active" aria-current="page">
                <span class="page-link">{{pagina}}</span>
            </li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{pagina}}" aria-label="{{pagina}}">{{pagina}}</a></li>
        {% endifequal %}
            
        {% endfor %}
        
        <!-- Next page -->
        
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                <ion-icon name="arrow-redo-circle-outline" style="font-size: 16px;"></ion-icon>
            </a>
        </li>    
        {% endif %}
            
        

        </ul>
    </nav>

{% include 'includes/footer.html' %}


{% endblock content %}
    
