{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/portfoliored.ico">
    <title>{% block title %}    {% endblock title %}</title>
    
    {% block description %}     {% endblock description %}
    
    {% block tags %}    {% endblock tags %}
    {% block css %}      {% endblock css %}
                    
</head>
<body data-spy="scroll" data-target="#aboutme" style="background-color: rgba(235, 224, 212, 0.918);">
    {% block content %} 
    
    
    {% endblock content %}
     
    
    {% block js %} 
       
    {% endblock js %}
</body>
</html>