
    <div class="footer-basic" style="background-color: rgba(235, 224, 212, 0.918);">
        <footer>
            <div class="social">
                <a href="{% url 'projects_app:projects-list' %}"><ion-icon name="logo-python"></ion-icon></a>
            </div>
            <div class="social">
                <a href="#"><ion-icon name="logo-whatsapp"></ion-icon></a>
                <a href="https://www.linkedin.com/in/aar%C3%B3n-ju%C3%A1rez-6298561a4/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href="https://github.com/Aaronga19"><ion-icon name="logo-github"></ion-icon></a>
                <a href="https://es.stackoverflow.com/users/201799/aaron-acosta"><ion-icon name="logo-stackoverflow"></ion-icon></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{% url 'home_app:home_page' %}">Home</a></li>
                <li class="list-inline-item"><a href="{% url 'projects_app:projects-list' %}">Projects</a></li>
                <li class="list-inline-item"><a href="{% url 'home_app:about_me' %}">About me</a></li>
                <li class="list-inline-item"><a href="{% url 'users_app:contact' %}">Contact</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Aaron's Portfolio © 2021</p>
        </footer>
    </div>
    
