
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="{% url 'projects_app:projects-list' %}"><i class="icon ion-social-python"></i></a></div>
            <div class="social"><a href="https://www.instagram.com/"><i class="icon ion-social-whatsapp"></i></a><a href="https://www.linkedin.com/in/aar%C3%B3n-ju%C3%A1rez-6298561a4/"><i class="icon ion-social-linkedin"></i></a><a href="https://github.com/Aaronga19"><i class="icon ion-social-github"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{% url 'home_app:home_page' %}">Home</a></li>
                <li class="list-inline-item"><a href="{% url 'projects_app:projects-list' %}">Projects</a></li>
                <li class="list-inline-item"><a href="#">About me</a></li>
                <li class="list-inline-item"><a href="#">Contact</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Aaron's portfolio © 2021</p>
        </footer>
    </div>
    
