<header>
    <!-- Bootstrap Static Header -->
  <div style="background: url(https://img2.pngio.com/47106360-technology-wallpaperpng-19201200-technology-circuit-board-wallpaper-png-1920_1200.png)" class="jumbotron bg-cover text-white">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-radius: 20px;">
        <!-- Container wrapper -->
        <div class="container-fluid">
          <!-- Toggle button -->
            <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarCenteredExample"
                aria-controls="navbarCenteredExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
            <i class="fas fa-bars"></i>
            </button>
      
          <!-- Collapsible wrapper -->
          <div
            class="collapse navbar-collapse justify-content-center"
            id="navbarCenteredExample"
          >
            <!-- Left links -->
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home_app:home_page' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'projects_app:projects-list' %}">Projects</a>
              </li>
              <!-- Navbar dropdown -->
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'home_app:about_me' %}" >About Me</a>           
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home_app:contact' %}" tabindex="-1" aria-disabled="false"> Contact </a>
                </li>
            </ul>
            <!-- Left links -->
          </div>
          <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
      </nav>>
    <!--Titulo-->
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">Aarón Juárez</h1>
        <p class="font-italic mb-0">Electric-Electronic Engineer by UNAM.</p>
        <p class="font-italic">Snippet by
            <a href="https://bootstrapious.com" class="text-white">
                <u>Bootstrapious</u>
            </a>
        </p>
        <a href="{% url 'projects_app:projects-list' %}" role="button" class="btn btn-primary px-5">See All Projects</a>
    </div>
  </div>
</header>