{% extends 'users/base_users.html' %}

{% load static %}

    {% block title %}
       Contact
    {% endblock title %}


{% block content %}
{% include 'includes/header.html' %}
    <form method="POST" class="container" style="background-color: gray; border-radius: 10px; border-color: indigo; border: 20ox;">{% csrf_token %}

        <div class="row">

                <div class="col-md-5 col-sm-12 m-3 d-flex justify-content-center">
                    <label class="m-1">Name:</label>
                    <p>{{form.name}}</p>
                </div>
                    
                <div class="col-md-5 col-sm-12 m-3 d-flex justify-content-center">
                    <label class="m-1">Email:</label>
                    <p>{{form.email}}</p>
                </div>
        
        </div>

        <div class="row">

            <div class="col-md-5 col-sm-12 m-3 d-flex justify-content-center">
                <label class="m-1">Phone:</label>
                <p>{{form.phone}}</p>
            </div>
                
            <div class="col-md-5 col-sm-12 m-3 d-flex justify-content-center">
                <label class="m-1">Company:</label>
                <p>{{form.company}}</p>
            </div>
    
        </div>

        <div class="row d-flex justify-content-center">

            <div class="col-8 input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Message</span>
                </div>
                {{form.message}}
            </div>
        </div> 

        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-dark m-3">Send</button>
            </div>
        </div>
    </form>
    
{% include 'includes/footer.html' %}

{% endblock content %}
